# Task 1:

Problem Statement:
Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [1]:
import numpy as np

def findmovingaverage(values,window):
    avg = np.repeat(1,window)/window
    result = np.convolve(values, avg, 'valid')
    return result


lst = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
resultlst = findmovingaverage(lst,3)
print(resultlst)

[  5.           4.66666667   5.66666667   6.66666667   9.66666667
  28.66666667  49.33333333  72.66666667  84.          93.33333333
 116.33333333]

# Task 2:

1.How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [2]:
import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

lstx=list(df['X'])

lstx
i=0
lsty=[]
for n in lstx:
    if(n==0):
        i=0
    else:
        i=i+1
    lsty.append(i)

lsty

df['Y']=lsty
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [2]:
import pandas as pd
import numpy as np

bdate = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
series = pd.Series(np.random.rand(len(bdate)), index=bdate)
series

2015-01-01    0.453221
2015-01-02    0.923246
2015-01-05    0.927571
2015-01-06    0.556779
2015-01-07    0.080919
2015-01-08    0.396628
2015-01-09    0.541497
2015-01-12    0.430789
2015-01-13    0.886144
2015-01-14    0.492600
2015-01-15    0.855304
2015-01-16    0.693182
2015-01-19    0.859371
2015-01-20    0.595340
2015-01-21    0.339020
2015-01-22    0.526199
2015-01-23    0.191969
2015-01-26    0.308550
2015-01-27    0.181301
2015-01-28    0.156891
2015-01-29    0.472262
2015-01-30    0.808709
2015-02-02    0.080854
2015-02-03    0.523372
2015-02-04    0.538296
2015-02-05    0.341434
2015-02-06    0.672254
2015-02-09    0.702279
2015-02-10    0.469931
2015-02-11    0.195753
                ...
2015-11-20    0.586830
2015-11-23    0.608384
2015-11-24    0.934183
2015-11-25    0.877664
2015-11-26    0.852343
2015-11-27    0.893876
2015-11-30    0.016952
2015-12-01    0.327944
2015-12-02    0.204993
2015-12-03    0.604464
2015-12-04    0.949612
2015-12-07    0.450956
2015-12-08    0.726318
2015-12-09    0.197262
2015-12-10    0.873720
2015-12-11    0.639292
2015-12-14    0.290414
2015-12-15    0.124900
2015-12-16    0.968195
2015-12-17    0.205790
2015-12-18    0.613769
2015-12-21    0.136665
2015-12-22    0.337342
2015-12-23    0.147573
2015-12-24    0.047352
2015-12-25    0.870047
2015-12-28    0.651565
2015-12-29    0.936330
2015-12-30    0.630608
2015-12-31    0.062889
Freq: B, Length: 261, dtype: float64

3. Find the sum of the values in s for every Wednesday

In [8]:
series[bdate.weekday == 2].sum()

22.58846620762767

4. Average For each calendar month

In [9]:
series.resample('M').mean()

2015-01-31    0.377235
2015-02-28    0.639944
2015-03-31    0.401324
2015-04-30    0.399588
2015-05-31    0.371873
2015-06-30    0.469210
2015-07-31    0.401619
2015-08-31    0.455408
2015-09-30    0.533018
2015-10-31    0.464711
2015-11-30    0.569270
2015-12-31    0.394487
Freq: M, dtype: float64

5.For each group of four consecutive calendar months in s, find the date on which the highest
value occurred.

In [80]:
mmax=series.groupby(pd.Grouper(freq='m')).agg(['idxmax','max'])
lstdate=list(mmax["idxmax"])
lstvalue=list(mmax["max"])
maxvalue=0
index=0
resdf=pd.DataFrame(columns=['Date', 'MaxValue'])

for n in range(0,len(lstvalue)):
    
    if (lstvalue[n]>maxvalue):
        maxvalue=lstvalue[n]
        index=n
        
    if((n+1)%4==0 and n>0):
        resdf=resdf.append(pd.Series([lstdate[index], lstvalue[index]], index=['Date','MaxValue']), ignore_index=True)
        maxvalue=0

lstindex=['JAN-APR','MAY-AUG','SEP-DEC']
resdf.index=lstindex
resdf

              Date  MaxValue
JAN-APR 2015-02-26  0.991737
MAY-AUG 2015-07-13  0.997870
SEP-DEC 2015-12-11  0.986784